
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  display: block;
  width: 100%;
  padding: 0.2em;
  margin: 0.2em 0 0.6em;
  font-size: 1.2em;
}

button {
  background: salmon;
  border: none;
  margin: 1em 0;
  color: white;
  padding: 1em;
  cursor: pointer;
}
button:hover{
  opacity:0.8;
}



/* Presentational for this pen */
html {
  background: darkturquoise;
}

body {
  padding: 5%;
  background: white;
  max-width: 30em;
  margin: 6% auto;
  box-shadow: 1em 1em 0 0 rgba(0, 0, 0, 0.2);
  font-family: Raleway, sans-serif;
}
